body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.insert{
    text-align: center;
}
input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
}
p{
    margin-top: -15px;
}
h5{
    margin-right: 200px;
}
button{
    background-color:darkcyan;
    color: white;
    height: 40px;
    width: 270px;
    border-radius: 10px;
    margin-top: 30px;
    justify-items: center;
    border: 0;
    margin-top: 30px;
}
.button2{
    background-color:white;
    color: darkcyan;
    height: 40px;
    width: 270px;
    border-radius: 10px;
    margin-top: 15px;
    border-color: black;
    border: 1px solid gray;
}
